@charset "UTF-8";

/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    text-align: left;
    list-style-type: none;
    border-collapse: collapse;
}

img {
    border-style: none;
    display: block;
}

hr {
    display: none;
}

em {
    font-style: normal
}

input {
    line-height: auto;
    vertical-align: middle;
}

strong.more {
    color: #c30
}

a {
    text-decoration: none;
}

body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* ここからcss設定 */
/* account_edit_conplete.blade.php */
body {
    min-width: 990px;
}

main {
    color: #323310;
    position: relative;
    justify-content: center;
    min-width: 990px;
    max-width: 100%;
    min-height: 350px;
    width: 90%;
    margin: 50px auto;
}

.complete_wrap {
    width: 70%;
    margin: 80px auto 0 auto;
    text-align: center;
}

.title_text {
    text-align: center;
    margin-bottom: 60px;
    font-weight: bolder;
    font-size: x-large;
}

.message_text {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bolder;
}

.message_text2 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: bolder;
}

.button {
    display: flex;
    justify-content: space-around;
}

.go_top_button {
    margin-top: 40px;
    border: 1px solid #e3e548;
    border-radius: 99px;
    background-color: #e3e548;
    text-align: center;
    padding: 15px 100px;
    cursor: pointer;
    transition: box-shadow .15s;
    color: inherit;
    color: #323310;
}

.go_uplpad_button {
    margin-top: 40px;
    border: 1px solid #e3e548;
    border-radius: 99px;
    background-color: #e3e548;
    text-align: center;
    padding: 15px 85px;
    cursor: pointer;
    transition: box-shadow .15s;
    color: inherit;
    color: #323310;
}