@charset "UTF-8";

/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 100%;
    text-align: left;
    list-style-type: none;
    border-collapse: collapse;
}

img {
    border-style: none;
    display: block;
}

hr {
    display: none;
}

em {
    font-style: normal
}

input {
    line-height: auto;
    vertical-align: middle;
}

strong.more {
    color: #c30
}

a {
    text-decoration: none;
}

body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* ここからcss設定 */
/* comic_evaluation.blade.php */
body {
    min-width: 990px;
}

main {
    color: #323310;
    position: relative;
    justify-content: center;
    min-width: 990px;
    max-width: 100%;
    min-height: 350px;
    margin: 0 auto;
}

main h1 {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    margin: 50px;
}

.book_infomation {
    display: flex;
    justify-content: center;
}

.book_cover {
    height: 200px;
    margin-right: 7%;
}

.book_cover img {
    display: inline;
    width: 100%;
    height: 100%;
    aspect-ratio: 3.5 / 5;
}

.book_title_author {
    margin: 2% 0 0 7%;
}

.book_title {
    margin-top: 12%;
}

.book_title p {
    font-size: large;
    font-weight: bolder;
}

.book_author {
    margin-top: 12%;
}

.evaluation_form {
    width: 60%;
    height: 20rem;
    margin: auto;
    border: 1px solid #d3d3d3;
    margin: 40px auto;
    border-radius: 15px;
    padding: 20px;
}

.evaluation_form_title {
    text-align: center;
}

.review_rate_form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.review_rate_form input[type=radio] {
    display: none;
}

.review_rate_form label {
    position: relative;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 35px;
}

.review_rate_form label:hover {
    color: #e3e548;
}

.review_rate_form label:hover~label {
    color: #e3e548;
}

.review_rate_form input[type=radio]:checked~label {
    color: #e3e548;
}

.evaluation_textarea {
    width: 100%;
    height: 10rem;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    color: #323310;
}

.evaluation_textarea::placeholder {
    text-align: center;
    font-size: large;
}

.button_submit {
    display: flex;
    margin: auto;
    border-radius: 20px;
    padding: 8px 50px;
    font-size: revert;
    border-color: #e3e548;
    background-color: #e3e548;
    cursor: pointer;
}

.star_rating {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
}

.star5_rating {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC;
    /* グレーカラー 自由に設定化 */
    /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before,
.star5_rating:after {
    content: '★★★★★';
}

.star5_rating:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #e3e548;
    /* イエローカラー 自由に設定化 */
}

/* 星5 */
.star5_rating[data-rate="5"]:after {
    width: 100%;
}

/* 星4.5 */
.star5_rating[data-rate="4.5"]:after {
    width: 90%;
}

/* 星4 */
.star5_rating[data-rate="4"]:after {
    width: 80%;
}

/* 星3.5 */
.star5_rating[data-rate="3.5"]:after {
    width: 70%;
}

/* 星3 */
.star5_rating[data-rate="3"]:after {
    width: 60%;
}

/* 星2.5 */
.star5_rating[data-rate="2.5"]:after {
    width: 50%;
}

/* 星2 */
.star5_rating[data-rate="2"]:after {
    width: 40%;
}

/* 星1.5 */
.star5_rating[data-rate="1.5"]:after {
    width: 30%;
}

/* 星1 */
.star5_rating[data-rate="1"]:after {
    width: 20%;
}

/* 星0.5 */
.star5_rating[data-rate="0.5"]:after {
    width: 10%;
}

/* 星0 */
.star5_rating[data-rate="0"]:after {
    width: 0%;
}

.all_review_wrap {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.all_review_wrap h2 {
    font-size: x-large;
    text-align: center;
    margin: 50px auto 20px auto;
    font-weight: bolder;
}

.all_review {
    margin: 20px auto;
}

.individual_star_rating {
    font-size: xx-large;
}

.individual_comment {
    font-size: large;
}

.back {
    margin: 60px auto;
}

.back_button{
    border: 2px solid #e3e548;
    border-radius: 20px;
    padding: 8px 50px;
    color: inherit;
}